.note-container {
  width: 80%;
  margin: 40px aut;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.note-header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.note-content {
  padding: 20px;
}

#note-textarea {
  width: 100%;
  height: 200px;
  padding: 10px;
  font-size: 16px;
}

.note-footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  border-top: 1px solid #ddd;
}

#save-note-btn {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}