*{
    margin: 0;
    padding: 0;
}
body{
    background-color:cornflowerblue;
    text-align: center;
}
.title{
    font-size: 10vmin;
    height: 15vmin;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-area{
    display: flex;
    justify-content: center;
    padding: 5vmin;
    gap: 5vmin;
}
.box{
    height: 35vmin;
    width: 35vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
img{
    height: 30vmin;
    width: 30vmin;
    object-fit: cover;
    border-radius: 50%;
}
.box:hover{
    cursor: pointer;
    background-color: dimgrey;
}
.result{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vmin;
    font-size: 5vmin;
}
#user-score,#com-score{
    font-size: 10vmin;
}
.msg-area{
    margin-top: 10vmin;
}
#msg{
    background-color: brown;
    color: white;
    display: inline;
    font-size: 5vmin;
    padding: 2vmin;
    border-radius: 2vmin;
}